@{
    ViewBag.Title = "Sent";
}

<div>
    <h1>You came here from [Read more] link!</h1>
    <p>And now you are reading the full version of interesting news from your email.</p>
    <img src="@Url.Content("~/Images/ipsum.jpg")" style="width:300px;"/>
</div>